/* Journey to the Center of the Earth Practicum */
/* Gurinder Pal Singh*/ 
header {
    margin:20px;
    padding:20px;
    border: 2px solid #886644; 
    text-align: center;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    background-color:rgba(255,255,255,.75);
    background-image: url("/img/cave.jpg");
}
h1 {
    font-weight: bold;
    color: white;
}
nav {
    margin:20px;
    padding:20px;
    border: 2px solid #886644; 
    box-shadow: 10px 10px 10px  black;
    background-color:rgba(255,255,255,.75);
    text-align: center;
    font-size: large;
}
.submission {
    background-color:rgba(255,255,255,.50);
    padding: 16px;
    margin: 16px 0; 
    border: 2px solid black; 
    width: 300px;
  height: 100px;
}
.signature {
    text-align: center;
    padding-top: 0.5em;
}

h2 {
    
    border-bottom: 5px solid black;
    border-bottom-style: dotted;

}
a:link {
    color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
    color: #A52A2A;
    background-color: transparent;
    text-decoration: underline;
  }
  body {
    background: linear-gradient(#765729, black);
      }
      
  }
main {
    margin:20px;
    padding:20px;
    border: 2px solid #886644; 
    box-shadow: 10px 10px 10px black;
    background-color:rgba(255,255,255,.75);

}
main img {
    float:left;
    padding-right: 2em;
    padding-bottom: 2em;
}

#demo p:first-line {
font-size:30px;
}

aside {
    margin:20px;
    padding:20px;
    border: 2px solid #886644; 
    box-shadow: 10px 10px 10px  black;
    background-color:rgba(255,255,255,.75);
}
footer {
    margin:20px;
    padding:20px;
    border: 2px solid #886644; 
    box-shadow: 10px 10px 10px  black;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    background-color:rgba(255,255,255,.75);
    text-align: center;
}
main {
    margin:20px;
    padding:20px;
    border: 2px solid #886644; 
    box-shadow: 10px 10px;

    background-color:rgba(255,255,255,.75);
}
:lang(id) {

    font-style: italic;
    }
    :lang(fr) {
    
        font-style: italic;
        }
        :lang(is) {
    
            font-style: italic;
            }
            :lang(it) {
    
                font-style: italic;
                }
    .character {
    font-weight: bold;
    }